body {
    margin: 0%;
    background-color: #99d3ef;
    background-image: url(bgdesign.jpg);
}
header{
    text-align: center;
    background-color: black;
    padding: 10px;
    font-family: initial;
    font-size: xx-large;
    color: white;

}

nav {
   list-style: none;
   text-align: center;
   margin-top: 30px;
}

.division a {
    text-decoration: none;
    margin: 30px;
    font-size: 25px;
    color: white;
    background-color: black;
    padding: 8px;
    border-radius: 10px;
    display: inline-flex;
    
    
}

.division :hover {
    padding: 10px 20px;
    background-color:white;
    opacity: 60%;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}


@keyframes slideFromTop {
    from {
        transform: translateY(-300px);
    }

    to {
        transform: translateY(0);
    }
}

.home {
    animation: slideFromTop 0.5s ease-in 0ms 1 none;
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-1000px);
    }

    to {
        transform: translateY(0);
    }
}

.division {
    animation: slideFromLeft 1s ease-in 0ms 1 none;
}

.everythingK-pic img {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 250px;
    border-radius: 20px;
    justify-content: space-between;
    animation: slideFromDown 0.7s ease-in 0ms 1 none;
    
    
}


.home-content {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    margin-top: px;
    text-align: center;
    padding: 50px;
    justify-content: space-between;
    animation: slideFromDown 0.6s ease-in 0ms 1 none;
    
}

.credits {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: space-between;
    animation: slideFromDown 1s ease-in 0ms 1 none;
}

@keyframes slideFromDown {
    from {
        transform: translateY(1000px);
    }

    to {
        transform: translateY(0);
    }
}


